.icon {
  font-size: rem(12px);
  clear: both;
  display: block;
  font-weight: 100;

  &.rain {
    position: relative;
    top: rem(140px);
    margin: 0 auto;
    width: rem(90px);
    height: rem(40px);
    background: url('/assets/images/rain-icon.png') no-repeat;
    background-size: 50%;
    text-indent: rem(50px);
    padding-top: 1rem;
    text-align: right;
  }

  &.share {
    position: relative;
    top: rem(200px);
    display: inline-block;
    width: 30%;
    padding: rem(10px);
    border-radius: 1rem;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
    &.facebook {
      background: #15347b;
      &:hover {
        background: #12295e;
      }
    }

    &.twitter {
      background: #0ac6f9;
      &:hover {
        background: #0da1c9;
      }
    }
  }
}

.menu-icon {
  display: none;
}
