<nav class="nav">
  <ul>
    <li class="cantareira">
      <a ui-sref="cantareiraSystem" ng-click="$ctrl.sendClickEvent('cantareira')">cantareira</a>
    </li>
    <li class="alto-tiete">
      <a ui-sref="altoTieteSystem" ng-click="$ctrl.sendClickEvent('alto-tiete')">alto tietê</a>
    </li>
    <li class="guarapiranga">
      <a ui-sref="guarapirangaSystem" ng-click="$ctrl.sendClickEvent('guarapiranga')">guarapiranga</a>
    </li>
    <li class="cotia">
      <a ui-sref="cotiaSystem" ng-click="$ctrl.sendClickEvent('cotia')">cotia</a>
    </li>
    <li class="rio-grande">
      <a ui-sref="rioGrandeSystem" ng-click="$ctrl.sendClickEvent('rio-grande')">rio grande</a>
    </li>
    <li class="rio-claro">
      <a ui-sref="rioClaroSystem" ng-click="$ctrl.sendClickEvent('rio-claro')">rio claro</a>
    </li>
  </ul>
</nav>
