/**
 * Variables
 */

$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;
$spacing-unit:     30px;
$content-width:    45rem;

$base-font-family: 'Merriweather', 'PT Serif', Georgia, Cambria, 'Times New Roman', Times, serif;
$heading-font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

 $breakpoints: (
    'small-only' '(max-width: 30rem)',
    'small' '(min-width: 0rem)',
    'medium' '(min-width: 48rem)',
    'large' '(min-width: 60rem)',
    'x-large' '(min-width: 75rem)'
) !default;

/**
 * Colors
 */

$primaryColor:   #5e60ba;
$accentColor:    #1de9b6;

$darkBgColor:    #263238;
$lightBgColor:   #37474f;
$lightTextColor: #f5f5f5;
$darkTextColor:  #212121;

$bgColor:        #0a1e23;
$blueCyan:       #3498db;
$fontColor:      #333d47;
